.pagination {
	/* background-color: rebeccapurple; */

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pagination__select {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}
.pagination__btns {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}
