.user__teacher,
.user__student,
.user__other {
	padding: 0.25em 0.5em;
	text-align: center;
	font-size: var(--text-sm);
	text-transform: uppercase;
	border-radius: var(--border-r-sm);
}
.user__teacher {
	background-color: var(--blue);
}
.user__student {
	background-color: var(--purple);
}
.user__other {
	background-color: var(--lightgray);
}
