.user {
	width: 100%;

	padding: 1em;
	border-radius: 0.3em;
	box-shadow: var(--shadow-md);

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
}
.user__img {
	width: 2em;
	border-radius: 50%;
}
.user__username {
	color: var(--gray);
	font-size: var(--text-sm);
}

.user__name {
}
