.user {
	width: 100%;

	padding: 1em;
	border-radius: 0.3em;
	box-shadow: var(--shadow-md);
	border-radius: var(--border-r-md);

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
}
.user__display {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.user__img {
	width: 2.5em;
	border-radius: 50%;
}
.user__username {
	color: var(--gray);
	font-size: var(--text-sm);
}

.user__name {
	font-weight: 600;
}

.user__actions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5em;
}
.user__edit,
.user__delete {
	width: 1.2em;
}
.user__edit {
	/* color: var(--blue); */
}
.user__delete {
	color: var(--red);
}
