.button {
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	cursor: pointer;
}
.button:disabled {
	cursor: default;
}
.button__icon {
	width: 1.2em;
	height: 1.2em;
}

.balck,
.red {
	background-color: transparent;
}
.black__filled {
	background-color: var(--black);
}
.red__filled {
	background-color: var(--red);
}
.black__filled,
.red__filled {
	color: var(--white);
}

.black__filled:disabled,
.red__filled:disabled {
	background-color: var(--lightgray);
}
