.user__active,
.user__inactive {
	font-size: var(--text-sm);
	display: flex;
	gap: 0.3em;
	align-items: center;
	font-weight: 500;
	/* justify-content: center; */
}
.user__active {
	color: var(--green);
}
.user__inactive {
	color: var(--red);
}

.user__icon {
	height: 1rem;
	width: 1rem;
}
